# Byte-compiled / cached files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
*.venv
Pipfile.lock

# Django-related
db.sqlite3
*.sqlite3
*.log
*.pot
media/
staticfiles/
*.swp

# Environment variables
.env
.env.local
.env.production
.env.development

# VS Code settings
.vscode/

# MacOS system files
.DS_Store

# IDE settings
.idea/
*.sublime-workspace

# Migrations (optional: keep if needed)
**/migrations/*.py
!**/migrations/__init__.py
